@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: pageInFromRight 1s ease-out forwards;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* image styling */
.image {
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  overflow: hidden;
  background-size: 200%;
  background-image: url("/Assets/Group 233.png");
}
/* end of image styling */

/* icon styling */
.icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: white;
}
/* end of icon styling */

/* style container */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-items: center;
  top: 17em;
}

.highlight {
  color: #cf833f;
}

.container h1 {
  font-size: 32px;
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  margin-bottom: 20px;
}
p {
  font-display: swap;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

/* dot styling */
.dots {
  display: flex;
  margin: 40px;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 0 10px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
.active {
  background-color: #cf833f;
}
/*  End of dot styling*/

/* button styling */
button {
  background: linear-gradient(#cf833f, #a54a15, #6c2a04);
  border: none;
  color: white;
  width: 80%;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
}
/* end of style container */

/* keyframes */
@keyframes pageInFromRight {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media query */
@media (max-width: 767px)
{
  .container {
    top: 23em;
  }
}
