*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}

.container {

height: 100vh;
display: grid;
text-align: center;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}
/* Logo styling */
.logo{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.logo h1 {
  text-align: center;
  color: white;
  font-size: 28px;
}
.logo img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
} 



.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
  padding: 12px 12px 12px 35px;
  border: solid 1px #EB9E71;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.input-box.typing .icon {
  opacity: 0;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: #EB9E71;

}

.box1{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  font-size: 14px;
}


  button{
    width: 100%;    
    padding: 10px;
    margin: 30px 0;
    border: solid 1px #EB9E71;
    border-radius: 15em;
    background: linear-gradient(#CF833F,#A54A15, #6C2A04);
color: white;
    font-weight: bold;
    cursor: pointer;
  } 

  
input[type="checkbox"]{

  accent-color: #a15d36; 
  width: 30px; 
  height: 30px;
    cursor: pointer;
  }


  .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  a {
    color: #EB9E71;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }