*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(
    #CF833F,
    #A54A15,
    #6C2A04
  );
   min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;  
}